<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Microsoft.Extensions.DependencyInjection" version="9.0.2" targetFramework="net462" />
  <package id="SC.Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.2" targetFramework="net462" />
  <package id="SC.Newtonsoft.Json" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Analytics" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Analytics.Core" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Framework.Conditions" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Marketing" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Marketing.Taxonomy" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Marketing.xMgmt" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Marketing.xMgmt.ReferenceData" version="9.0.2" targetFramework="net462" />
  <package id="SC.System.Web.Mvc" version="9.0.2" targetFramework="net462" />
</packages>